<div class="col-md-4">
  <div class="form-group">
      <label class="">Nome:</label>
      <input type="text" class="form-control" [ngModel]="value?.nome"
                  (ngModelChange)="handleInput('nome', $event)" placeholder="Digite aqui">
  </div>
  <div class="form-group">
      <label class="">E-mail:</label>
      <input type="text" class="form-control" [ngModel]="value?.email"
                  (ngModelChange)="handleInput('email', $event)" placeholder="Digite aqui">
  </div>
  <div class="form-group">
      <label class="">Telefone:</label>
      <input type="text" class="form-control" [ngModel]="value?.telefone"
                  (ngModelChange)="handleInput('telefone', $event)" placeholder="Digite aqui">
  </div>

  <input type="text" class="form-control" [(ngModel)]="teste"
    placeholder="Digite aqui">
</div>

