<!--The content below is only a placeholder and can be replaced.-->

<app-custom></app-custom>

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <button (click)="listar()">Processar</button>
  <hr>
  <div style="text-align:left" *ngFor="let task of tasks">
    Identificação: {{task.id}}
    Descrição: {{task.nome}}
    <span [appWspan]="task">Tempo: {{task.time}}</span>
  </div>

</div>
<br>
<app-switch [(ngModel)]="value" [label]="'My Switch'"></app-switch><br />
<span>valor: {{value}}</span>
